<html>
    <head>
        <title>VGO Trading</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/styles/index.css" media="screen">
    </head>
    <body>
        <div class="container-fluid">

            <%- include("partials/header.ejs") %>
            
            <div class="row main">

                <div class="game <%- (typeof chat !== 'undefined' && chat === true) ? 'col-sm-9' : 'col-sm-12' %>">
                    <%- body %>
                </div>

                <% if(typeof chat !== "undefined" && chat === true) { %>
                    <div class="col-sm-3 chat">
                        <%- include("partials/chat.ejs") %>
                    </div>        
                <% } %>

            </div>
        </div>
        <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <% if(typeof chat !== "undefined" && chat === true) { %>
            <script src="/socket.io/socket.io.js"></script>
            <script type="text/javascript">
                const socket = io();
                socket.emit("user data", <%- currentUser.steamid %>);
            </script>
            <script src="/scrips/chat_socket.js"></script>
        <% } %>
    </body>
</html>