<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VGO Gem</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/styles/bootstrap.min.css" media="screen">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

        <!-- slider CSS -->
        <link rel="stylesheet" href="/styles/flickity.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/responsive.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
        <script src="/scripts/Chart.PieceLabel.js"></script>

    </head>
    <body>

        <%- include("partials/header.ejs") %>
        
        <div class="container-fluid">
            <% if(typeof chat !== "undefined" && chat === true) { %>
                <%- include("partials/chat.ejs") %>
            <% } %>
            <div class="content">
                <div class="main-panel bg">
                    <%- body %>
                </div>
            </div>
            <footer>© vgogem 2018</footer>
        </div>

        <% if(typeof roulette !== "undefined" && roulette == true) { %>
            <%- include("partials/roulette_modal") %>
        <% } %>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/scripts/jquery-3.3.1.min.js"></script>

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script> -->

        <script src="/scripts/bootstrap.min.js"></script>
        <script src="/scripts/flickity.pkgd.min.js"></script>
        <script src="/scripts/circles.js"></script>

        <!-- Chat-responsive -->
        <script type="text/javascript">
            $(window).on('load resize', function () {
                if ($(window).width() < 1200) {
                    $(".chat-panel").addClass("collapse in");
                } else {
                    $(".chat-panel").removeClass("collapse in");
                }
            });
        </script>
        <!-- end -->

        <!-- body scroll none -->
        <script type="text/javascript">
            $(window).on('load', function () {
                $(".chat-bar-menu").click(function(){
                    $("body").toggleClass("scroll-none");
                });
                $(".navbar-toggler").click(function(){
                    $("body").toggleClass("scroll-none");
                });
            });
        </script>
        <!-- end -->

        <!-- Levels icons -->
        <script type="text/javascript">
            $(window).on('load', function () {
                $(".level > .badge").each(function(k,v){
                    let levels = parseInt($(this).text());
                    if(levels <= 9 ){
                        $(this).addClass("bg-gray");
                    }
                    if(levels > 9 && levels <= 19 ){
                        $(this).addClass("bg-blue");
                    }
                    if(levels > 19 && levels <= 29 ){
                        $(this).addClass("purple-blue");
                    }
                    if(levels > 29 && levels <= 39 ){
                        $(this).addClass("blue-shade");
                    }
                    if(levels > 39 && levels <= 49 ){
                        $(this).addClass("green-shade");
                    }
                    if(levels > 49 ){
                        $(this).addClass("silver-white");
                    }
                });
            });
        </script>
        <!-- end -->

        <script type="text/javascript">
            function spinJackpot(winnerPos) {

                let startJP = winnerPos + (360*3);    
                $('.jackpot-pointer').animate({  transform: startJP }, {
                    step: function(now,fx) {
                        $(this).css('-webkit-transform','rotate('+now+'deg)'); 
                    },
                    duration:6000
                },'linear'); 
                setTimeout(() => {
                    $('.jackpot-pointer').animate({  transform: 0 }, {
                        step: function(now,fx) {
                            $(this).css('-webkit-transform','rotate('+now+'deg)'); 
                        },
                        duration:0
                    },'linear');
                }, 7000);       
            }
        </script>

        <script>
            function createCircles(timeRemaining) {
                var colors = [
                    ['#595980', '#ffffff']
                    ],
                    circles = [];
                for (var i = 1; i <= colors.length; i++) {
                    var child = document.getElementById('circles-' + i),
                    percentage = 100 + (i * 9.84),
                    circle = Circles.create({
                        id:         child.id,
                        value:      timeRemaining,
                        duration:   0,
                        maxValue:   90,
                        radius:     150,
                        width:      4,
                        colors:     colors[i - 1]
                    });
                    circles.push(circle);
                }
            }
            (function() {
                var canvas = document.getElementById('canvas'),
                circlesCreated = false;
                function onScroll() {
                if (!circlesCreated && elementInViewport(canvas)) {
                    circlesCreated = true;
                    createCircles(90);
                }
                }
                function elementInViewport(el) {
                var rect = el.getBoundingClientRect();
                return (
                    rect.top  >= 0 &&
                    rect.left >= 0 &&
                    rect.top  <= (window.innerHeight || document.documentElement.clientHeight)
                );
                }
                window.onscroll = onScroll;
            })();
        </script>

        <script type="text/javascript">
            function setArrowColor(elementId, color) {
                let sheet = (function() {
                    // Create the <style> tag
                    let style = document.createElement("style");

                    // Add a media (and/or media query) here if you'd like!
                    // style.setAttribute("media", "screen")
                    // style.setAttribute("media", "only screen and (max-width : 1024px)")

                    // WebKit hack
                    style.appendChild(document.createTextNode(""));

                    // Add the <style> element to the page
                    document.head.appendChild(style);

                    return style.sheet;
                })();
                // You can pass color value here
                sheet.insertRule(`#${elementId}:before { border-left-color:${color}!important; }`, 0);

            }
            </script>


        <% if(typeof chat !== "undefined" && chat === true) { %>
            <script src="/socket.io/socket.io.js"></script>
            <script type="text/javascript">
                const socket = io();
                const currentUserData = {
                    steamId: <%- currentUser.steamid %>,
                    level: <%- currentUser.level %>
                };
                socket.emit("user data", { userId: <%- currentUser.steamid %>, userName: "<%- currentUser.personaname %>", 
                                            avatar: "<%- currentUser.avatarfull %>", level: <%- currentUser.level %> });
                socket.on("reconnect", () => {
                    socket.emit("user data", { userId: <%- currentUser.steamid %>, userName: "<%- currentUser.personaname %>", avatar: "<%- currentUser.avatarfull %>" });
                });
            </script>
            <script src="/scripts/chat_socket.js"></script>

            <script type="text/javascript">
                socket.on("user count", (connectedUsers) => {
                    $(".online-display b").text(connectedUsers);
                });
            </script>
        <% } %>

        <% if(typeof roulette !== "undefined" && roulette == true) { %>
            <!-- Jackpot-resposive -->
            <script type="text/javascript">
                $(window).on('load resize', function () {
                    let jpWidth = $( ".jackpot" ).width(),
                        getP = jpWidth * (23/100),
                        getJPWidth = jpWidth * (6.43/100),
                        getScoreTextA = jpWidth * (8.93/100),
                        getScoreTextB = jpWidth * (5.36/100),
                        getScoreIcon = jpWidth * (9.82/100);
                    if(jpWidth < 560){
                        $( ".jackpot-timer" ).css({"top": getP, "bottom": getP, "left": getP, "right": getP});
                        $( "#doughnut-canvas" ).css({"padding": getJPWidth});
                        $( ".jackpot-score" ).css({"padding": getP, "width": jpWidth, "height": jpWidth});
                        $( ".jackpot-score .amount" ).css({"font-size": getScoreTextA});
                        $( ".jackpot-score .skins" ).css({"font-size": getScoreTextB});
                        $( ".jackpot-score .icon" ).css({"width": getScoreIcon, "height": getScoreIcon});
                    }
                });
            </script>
            <!-- end -->
            
            <!-- Jackpot-timer -->
            <script>
                (function() {
                var canvas = document.getElementById('canvas'),
                    circlesCreated = false;
                function onScroll() {
                    if (!circlesCreated && elementInViewport(canvas)) {
                    circlesCreated = true;
                    createCircles();
                    }
                }
                function elementInViewport(el) {
                    var rect = el.getBoundingClientRect();
                    return (
                    rect.top  >= 0 &&
                    rect.left >= 0 &&
                    rect.top  <= (window.innerHeight || document.documentElement.clientHeight)
                    );
                }
                function createCircles() {
                    var colors = [
                        ['#595980', '#ffffff']
                    ],
                    circles = [];
                    for (var i = 1; i <= colors.length; i++) {
                    var child = document.getElementById('circles-' + i),
                        circle = Circles.create({
                        id:         child.id,
                        value:      10,
                        maxValue:   10,
                        duration:   10000,
                        radius:     getWidth(),
                        width:      4,
                        colors:     colors[i - 1]
                        });
                    circles.push(circle);
                    }
                    window.onload = function(e) {
                    for (var i = 0; i < circles.length; i++) {
                        circles[i].updateRadius(getWidth());
                    }
                    };
                    window.onresize = function(e) {
                    for (var i = 0; i < circles.length; i++) {
                        circles[i].updateRadius(getWidth());
                    }
                    };
                    function getWidth() {
                    let jpw = $( ".jackpot-timer" ).width();
                    return jpw / 2;
                    }
                }
                window.onscroll = onScroll;
                })();
            </script>
            <!-- end -->
            <script type="text/javascript">
                $(".firework img").hide();
            </script>
            <script type="text/javascript">const rouletteTier = <%- rouletteTier %>;</script>
            <script src="/scripts/item_selection.js"></script>
            <script src="/scripts/roulette_graphics.js"></script>
            <script src="/scripts/roulette_socket.js"></script>
        <% } %>

        <!--<% if(typeof headon !== "undefined" && headon == true) { %>
            <script src="/scripts/headon_graphics.js"></script>
            <script src="/scripts/headon_socket.js"></script>
        <% } %>-->
    </body>
</html>