<div class="coin-flip-score">
    <div class="action-panel">
        <a href="/games/coinflip/history" class="btn bg-gray">History</a>
        <a href="javascript:void(0)" onclick="hostCoinflipHandler()" 
        data-toggle="modal" data-target=".coinFlipJoinModal" class="btn bg-blue">Deposit</a>
    </div>
    <div class="scores">
        <div class="row">
            <div class="cols col-md-6">
                <div class="item">
                    <div class="label">Total Value</div>
                        <div class="value">
                            <span class="icon">
                            <img src="/img/coins-icon.png">
                            </span>
                            <span id="coinflip-total-stake" class="text">$1254.00</span>
                        </div>
                    </div> 
                <div class="item">
                <div class="label">Number of Coinflips</div>
                    <div class="value">
                        <span class="icon">
                        <img src="/img/coin-flip-icon.png">
                        </span>
                        <span id="coinflip-lobby-count" class="text"><%- coinflipLobbyCount %></span>
                    </div>
                </div>
            </div>
            <div class="cols col-md-6">
                <div class="item">
                    <div class="label">Coinflips</div>
                        <div class="value">
                            <span class="icon">
                            <img src="/img/coin-flip-icon.png">
                            </span>
                            <span class="text">2</span>
                        </div>
                    </div> 
                <div class="item">
                <div class="label">Deposited</div>
                    <div class="value">
                        <span class="icon">
                        <img src="/img/coins-icon.png">
                        </span>
                        <span class="text">$2214.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="coin-players-list">
        <% coinflipLobbies.forEach(lobby => { %>
            <div id="lobby-<%- lobby.id %>" class="item">
                <div class="player-vs">
                    <a href="/user/profile/<%- lobby.host.id %>" class="avatar rounded-circle">
                        <img class="rounded-circle" src="<%- lobby.host.avatar %>">
                    </a>
                    <span class="vs rounded-circle">v/s</span>
                    <% if(typeof lobby.challenger !== "undefined") { %>
                        <a href="/user/profile/<%- lobby.challenger.id %>" class="avatar rounded-circle">
                            <img src="<%- lobby.challenger.avatar %>" class="rounded-circle">
                        </a>
                    <% } else { %>
                        <a href="#" class="avatar rounded-circle">
                            <img src="/img/coin-<%- (lobby.host.coinColor == 'red') ? 'blue' : 'red' %>.png" alt="">
                        </a>
                    <% } %>
                    <div class="amount">
                        <% if(lobby.challenger) { %>
                            <span class="badge"><%- (parseFloat(lobby.host.total) + parseFloat(lobby.challenger.total)).toFixed(2) %></span>
                        <% } else { %>
                            <span class="badge"><%- parseFloat(lobby.host.total).toFixed(2) %></span>
                        <% } %>
                    </div>
                </div>
                <div class="action-col">
                    <% if(lobby.host.id !== currentUser.steamid) { %>
                        <a href="javascript:void(0)" onclick="joinCoinflipHandler(<%- lobby.id %>)" 
                        data-toggle="modal" data-target=".coinFlipJoinModal" class="btn bg-green">
                            <i class="fa fa-link"></i>
                            <span class="text">Join</span>
                        </a>
                    <% } %>
                    <a href="javascript:void(0)" onclick="handleViewModal(<%- lobby.id %>)" class="btn bg-gray" 
                    data-toggle="modal" data-target=".coinFlipModal">
                        <i class="fa fa-eye"></i>
                        <span class="text">View</span>
                    </a>
                </div>
                <div class="skins-col">
                    <div class="gallery js-flickity skins-list" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false }'>
                        <% lobby.host.items.concat((lobby.challenger) ? lobby.challenger.items : []).map(item => {
                                if(item.wear == null) {
                                    return { ...item, wear: ''};
                                } else if(item.wear < 0.07){
                                    return { ...item, wear: "FN" };
                                } else if(item.wear < 0.15) {
                                    return { ...item, wear: "MW" };
                                } else if(item.wear < 0.37) {
                                    return { ...item, wear: "FT" };
                                } else if(item.wear < 0.44) {
                                    return { ...item, wear: "WW" };
                                }
                                return { ...item, wear: "BS" };
                        }).forEach(item => { %>
                            <div class="gallery-cell skin-item">
                                <% if(item.wear !== '') { %>
                                    <div class="code"><%- item.wear %></div>
                                <% } %>
                                <div class="mid-sec">
                                    <img src="<%- item.image['300px'] %>">
                                </div>
                                <div class="bottom-sec">
                                    $<%- (parseFloat(item.suggested_price)/100).toFixed(2) %>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>